/* user.css */


.header {
  text-align: center;
  margin-bottom: 20px;

}

.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.header input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  background-color: #34495e;
  color: #ecf0f1;
}

.header button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}

.header .edit-button {
  background-color: #2980b9;
}

.header .save-button {
  background-color: #27ae60;
}

.header .logout-button {
  background-color: #e74c3c;
}

.account {
  margin: 20px 0;
  padding: 20px;
  background-color: #34495e;
  border-radius: 4px;
}

.account-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-title {
  font-size: 18px;
}

.account-amount {
  font-size: 24px;
  font-weight: bold;
}

.account-amount-description {
  font-size: 14px;
}

.account-content-wrapper.cta {
  display: flex;
  justify-content: flex-end;
}

.transaction-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}
